@page "/"

@using Model
@inject PersonContext db

<PageTitle>Počet lidí v db</PageTitle>

<h1>Počet lidí v db</h1>

<div>
    V db máme @count lidí...
</div>


@code{
    public int count;
    protected override void OnInitialized()
    {
        count = db.Persons.Count();
    }


}